


	body {
		background-image: url("../img/50cal.jpg");
		background-repeat: no-repeat;
		background-attachment: fixed;
        background-position: center;
		background-size: 100% 100%;
	}




	/*header style*/
	.div1 {
		background-color: rgb(0, 0, 0);
		width: 100%;
		height: 100px;
	}

	/*header font*/
	#heading1 {
		text-align: center; 
		color: rgb(226, 97, 21); 
		font: italic small-caps bold 65px/70px Georgia, serif;
	}




	/*side menu style*/
	.div2 {
		background-color: rgba(0, 0, 0, 0.4);
		width: 225px;
		height: 415px;
		vertical-align: middle;
		display:table-cell;
	}
	  
	/*side menu font*/
	.a1 {
		color:rgb(0, 0, 0);
		font: italic small-caps bold 40px/80px Georgia, serif;
		padding: 10px;
	}

	/*side menu hover color*/
	.a1:hover {
		color:rgb(255, 0, 0);
	}

	/*remove link hyphens*/
	a {
		text-decoration:none;
	}


	

	/*footer style*/
	.div3 {
		text-align: center;
		background-color:rgb(0, 0, 0);
		padding: 10px;
		width: 100%;
	}

	/*footer media link style*/
	.img1 {
		width:32px;height:32px;margin:0px 20px;
	}
